/* container principal */
.notfound-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--bg-app);
  font-family: 'Inter', sans-serif;
  text-align: center;

  padding: 20px;
}

/* título 404 */
.notfound-title {
  font-size: 72px;
  font-weight: 900;
  color: var(--text-primary);
  margin: 20px 0 0 0;
}

/* subtítulo */
.notfound-subtitle {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: 10px;
}

/* texto auxiliar */
.notfound-text {
  max-width: 400px;
  color: var(--text-secondary);
  margin-bottom: 30px;
  line-height: 1.5;
}

/* botão voltar */
.notfound-button {
  padding: 12px 24px;

  background-color: var(--primary);
  color: #fff;

  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;

  transition: background 0.2s;
}

.notfound-button:hover {
  background-color: var(--primary-hover);
}

/* Rodapé do Menu */
.menu-footer {
    margin-top: auto; /* A MÁGICA: Empurra para o final da tela */
    padding-top: 20px;
    border-top: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; 
    text-align: center;
}

.menu-footer p {
    font-size: 12px;
    color: var(--text-secondary);
}

.menu-footer p strong {
    color: var(--text-primary);
}

.social-icons {
    display: flex;
    gap: 12px;
}

.social-icons a {
    color: var(--text-secondary);
    transition: color 0.2s, transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a:hover {
    color: var(--primary); /* Fica azul ao passar o mouse */
    transform: translateY(-2px); /* Leve pulinho */
}
